<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= locals.title ? title + ' - ' : '' %>Modern Translator: Break through any language barrier</title>
    <meta name="description" content="Break through any language barrier with Modern Translator - the most powerful translation app on Windows.">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="hero is-dark is-transparent">
      <div class="hero-head">
        <div class="container">
          <nav class="nav">
            <div class="nav-left">
              <a class="nav-item" href="/">
                <img src="/images/b.png" alt="Modern Translator: Break through any language barrier">
              </a>
            </div>
            <div class="nav-center">
              <a class="nav-item" href="https://twitter.com/mdrtranslator/">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
            </div>
            <span id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div id="nav-menu" class="nav-right nav-menu">
              <a class="nav-item<%- current.source == 'index' ? ' is-active' : '' %>" href="/">Overview</a>
              <a class="nav-item<%- current.source == 'changelog' ? ' is-active' : '' %>" href="/changelog">What's New</a>
              <a class="nav-item<%- current.source == 'support' ? ' is-active' : '' %>" href="/support">Support</a>
              <a class="nav-item" href="https://www.dropbox.com/sh/4355wn181tfi38d/AADyCId09GiLrd18ezv6YmI6a?dl=0" target="_blank">Presskit</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Modern Translator
          </p>
          <p class="subtitle">
            BREAK THROUGH ANY LANGUAGE BARRIER
          </p>
          <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k">
            <img class="download-button" src="/images/microsoft-store.png" alt="Download from Microsoft Store">
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="container custom-container">
        <div class="content">
          <%- yield %>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            A product of <a href="https://quanglam.me/">Quang Lam</a>.
            Made with <span style="color: #F44336">&hearts;</span> in <strong>Vietnam</strong>.
          </p>
          <p>
            © 2015 - 2016 Modern Translator. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
